html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
html p, body p {
  font-size: 1.125em;
  line-height: 1.65em;
  color: #333333;
  font-weight: 300;
}
html h3, body h3 {
  color: #c22033;
  font-weight: 500;
  font-size: 1.25em;
}

.promo-box-ct {
  background: #eee;
  padding: 2em;
}
.promo-box-ct .box {
  border: 1px solid #ddd;
  padding: 1.5em 2.5em;
  background: white;
}
.promo-box-ct .box .promo-button a {
  background: #c22033;
  color: white;
  padding: 15px 30px 13px;
  min-width: 139px;
  display: block;
  text-align: center;
  text-decoration: none;
}
.promo-box-ct .box .promo-button a:hover {
  background: black;
}

@media screen and (min-width: 767px) {
  .promo-box-ct .box {
    max-width: 80em;
    margin: auto;
    display: grid;
    grid-template-columns: 65% 25%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .promo-box-ct .box .text {
    padding: 0.5em 4em 0.5em 0;
  }
}